{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% include "includes/page_title.html" with title="Resources" %}

    <div class="category_boxes">
        <div class="category_box_row">
            {% comment %}
                Was target="_blank" out to a separate application in maker-cards.
                Now a native view in this site, backed by the inventory API.
            {% endcomment %}
            <a class="category-special category-inventory" href="{% url 'inventory_index' %}">View Our Current Inventory</a>
            <a class="category-special category-draw" href="https://draw.ioref.org" target="_blank" rel="noopener">Draw a Circuit<br/>Or System Diagram</a>
            <a class="category-special category-cards" href="/">Print the Cards [pdf]<br/>(Coming Soon!)</a>
        </div>
    </div>

    {% include "includes/page_title.html" with title="Categories" %}

    <div class="category_boxes">
        <div class="category_box_row">
            {% for category in categories_top %}
                <a class="category category-{{ category.slug }}" href="{{ category.url }}">{{ category.title }}</a>
            {% endfor %}
        </div>
        <div class="category_box_row">
            {% for category in categories_bottom %}
                <a class="category category-{{ category.slug }}" href="{{ category.url }}">{{ category.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
