{% extends "base.html" %}

{% block content %}
    {% include "includes/page_title.html" with title=page.title %}
    <div class="part_tiles">
        {% for set in part_sets %}
            <a class="part_tile noselect" href="{{ set.url }}">
                <div class="part_img_container">
                    {% if set.image %}<img class="img_part_tile" src="{{ set.image_url }}" alt="{{ set.title }}">{% endif %}
                </div>
                <div class="part_name">{{ set.title }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
